/*---------------------------------------------------setup------------------------------------------------------------*/
main
{
    width: 980px;
    position: relative;
    margin: 0 auto;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
}
ul
{
    padding: 0px!important;
}

/*-------------------------------------------------header1------------------------------------------------------------*/
.header1
{
    background-color: #000000;
    width: 100%;
    height: 55px;
    border-bottom: 3px solid #cccccc;
}
.soon
{
    padding-top: 15px;
    width: 80%;
    height: 40px;
    float: left;
    margin: auto;
}
.social_network
{
    width: 20%;
    height: 55px;
    float: right;
}
.social_network ul li
{
    float: right;
    display: inline-block;
}
.social_network ul li a
{
    float: right;
    width: 45px;
    margin: auto;
}
/*-------------------------------------------------header2------------------------------------------------------------*/
.header2
{
    background-color: #777777;
    width: 100%;
    height: 55px;
    margin: auto;
}
.menu
{
    width: 80%;
    height: 40px;
    float: left;
    margin-left: 0px;
    margin-right: auto;
}
.menu ul li
{
    display: inline;
    margin-left: 15px;
    float: left;
}
.menu ul li a
{
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 5px;
    float: left;
}
.search
{
    float: right;
    padding-top: 16px;
    width: 196px;
}
.search input
{
    width: 180px;
    font-size: 14px;
    height: 20px;
    text-align: left;
    padding-left: 15px;
    background-image: url("../IMG/Lupa.png");
    background-repeat: no-repeat;
    background-position: 96% 2px;
    border: 1px solid black;
}


